/*
nav  {
    

     background-color: transparent;
     padding: 10px; 
     margin-bottom: 20px;
     text-align: end;
     border: black solid 1px; border-radius: 0.5em;
     display: inline;
     text-decoration: none;
    
    
 }
 */

/*
Navigation

*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


 /* slide up section*/
 
 div.slide-up {
        height:200px;
        overflow:hidden;
      }
      div.slide-up p {
        animation: 3s slide-up;
        margin-top:0%;
        color: yellow;
        font-size: 10em;
        text-align: center;
        
      }
      
      @keyframes slide-up {
        from {
          margin-top: 100%;
          height: 300%; 
        }
      
        to {
          margin-top: 0%;
          height: 100%;
        }
      }
 
      #animate1{

        background-image: url(../images/walking-to-school-2013.jpg);
    }
      
 
/*paragraphs*/
    
 p{
        
         font-family: 'Anek Tamil', sans-serif;
        }

/* table */
     table
     { height: 100%;
         
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;

     }
     td, th {border: 1px solid black; 
        padding: 15px;
        text-align: left;}   


  tr:hover {background-color: coral;}



  /*Forms*/

  input
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {

    background-color: lightblue;
}
textarea
{

    transition: width 0.4s ease-in-out;
    width: 80%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    }

textarea:focus
{

    width: 100%
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=submit] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
 align-items: center;
}



  section{

    border: 1px black solid;
    padding: 10px;
    margin: 10px;
  }

/*Donate*/

.donate
{
    display: flex;
    justify-content: space-evenly;
}

.donate div{
    padding: 10px;
    margin: 20px;
    border: 1px solid red;
}

.donate1{

    transition: width 2s linear 1s;
    background-color: chocolate;
}
.donate1:hover
{
    width: 300px;
    background-color: cornflowerblue;
}


.issue, .solution, .impact, .tap2schools, .donate
{

    display: flex;
    flex-wrap: wrap;

}.issue div, .solution div, .impact div, .tap2schools div, .donate div{
    padding: 10px;
}


.issue1 
{
flex: 2;
}

.picture {
    max-width: 100%;
    justify-content: center;}

  .part1 {display: flex; padding: 10px; 
  }


     .part1 div{
         margin: 20px;
     }

     /*
     .issue {
         flex: 1; font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
     */


     @media only screen and (max-width: 600px)
         {
             body {background-color: orange;}
             
             section div{

                 flex-wrap: wrap;
             }
             
             .picture {
                 max-width: 80%;
             }
             .banner{display: none;}

             .donate1{

                 transition: none;
             }

         }

